Proyeto Grupal - Soy Henry

Data Analytics

Extración, Transformación y Carga de Datos (ETL) - Analisis Exploratorio de Datos (EDA)

A continuacion encontraran los codigos realizados por el equipo de data analytics para acomodor los datos a su disposicion para un futuro analisis en la herramienta de visualización llamada Looker Studio, pertenenciente a Google Cloud Plataform (GCP). Dado la facilidad de conección, estos pasos se ejecutaron en Big Query, otra herramienta de GCP. 

Cabe destacar que en este documento solo se presentaran los pasos mas influyentes para el futuro analisis de los datos en Looker Studio.

El primer paso fue cambiar el formato del momento en el que se habia hecho la reseña. Este paso aplica para el archivo con las reseñas de Google Maps.

In [ ]:
ALTER TABLE `google_data.reviews_copy`

ADD COLUMN fecha_hora TIMESTAMP OPTIONS(description="Fecha y hora convertida") ;

UPDATE `google_data.reviews_copy`
SET fecha_hora = TIMESTAMP_MILLIS(time)
WHERE 1 = 1

El segundo paso fue crear las regiones de E.E.U.U. definidas por el equipo de Data Analytics en base a los estdos. Este Este paso aplica para el archivo con las reseñas de Google Maps.

In [ ]:
ALTER TABLE `deep-mile-388417.google_data.reviews`
ADD COLUMN region STRING;

UPDATE `deep-mile-388417.google_data.reviews`
SET region = 
CASE
    WHEN estado IN ('iowa', 'indiana', 'ohio', 'illinois', 'north_dakota', 'south_dakota', 'kansas', 'missouri', 'michigan', 'nebraska', 'minnesota', 'wisconsin') THEN 'midwest'
    WHEN estado IN ('arkansas', 'louisiana', 'missouri', 'tennessee', 'florida', 'georgia', 'north_carolina', 'south_carolina', 'virginia', 'kentucky', 'alabama', 'west_virginia', 'delaware', 'maryland', 'district_of_columbia') THEN 'southeast'
    WHEN estado IN ('pennsylvania', 'new_york', 'new_jersey', 'maine', 'new_hampshire', 'massachusetts', 'connecticut', 'vermont', 'rhode_island') THEN 'northeast'
    WHEN estado IN ('washington', 'california', 'oregon') THEN 'pacific'
    WHEN estado IN ('idaho', 'wyoming', 'colorado', 'utah', 'nevada', 'montana') THEN 'rocky_mountains'
    WHEN estado IN ('texas', 'new_mexico', 'arizona', 'oklahoma') THEN 'southwest'
    WHEN estado IN ('alaska', 'hawaii') THEN 'no_contiguous'
    ELSE 'Desconocido'
  END
  WHERE 1 = 1;

El tercer paso aplica para el archivo con las reseñas de Yelp. A partir de la denominacion con dos letras de cada estados, se creo una nueva columna con el nombre completo.

In [ ]:
ALTER TABLE `deep-mile-388417.YELP.business`
ADD COLUMN estado STRING;

UPDATE `deep-mile-388417.YELP.business`
SET estado = 
CASE
    WHEN state IN ('AL') THEN 'alabama'
    WHEN state IN ('Ak') THEN 'alaska'
    WHEN state IN ('AZ') THEN 'arizona'
    WHEN state IN ('AR') THEN 'arkanzas'
    WHEN state IN ('CA') THEN 'california'
    WHEN state IN ('NC') THEN 'north_carolina'
    WHEN state IN ('SC') THEN 'south_carolina'
    WHEN state IN ('CO') THEN 'colorado'
    WHEN state IN ('CT') THEN 'connecticut'
    WHEN state IN ('ND') THEN 'north_dakota'
    WHEN state IN ('D') THEN 'south_dakota'
    WHEN state IN ('DE') THEN 'delaware'
    WHEN state IN ('FL') THEN 'florida'
    WHEN state IN ('GA') THEN 'georgia'
    WHEN state IN ('HI') THEN 'hawaii'
    WHEN state IN ('ID') THEN 'idaho'
    WHEN state IN ('IL') THEN 'illinois'
    WHEN state IN ('IN') THEN 'indiana'
    WHEN state IN ('IA') THEN 'iowa'
    WHEN state IN ('KS') THEN 'kansas'
    WHEN state IN ('KY') THEN 'kentucky'
    WHEN state IN ('LA') THEN 'louisiana'
    WHEN state IN ('ME') THEN 'maine'
    WHEN state IN ('MD') THEN 'maryland'
    WHEN state IN ('MA') THEN 'massachusetts'
    WHEN state IN ('MI') THEN 'michigan'
    WHEN state IN ('MN') THEN 'minnesota'
    WHEN state IN ('MS') THEN 'mississippi'
    WHEN state IN ('MO') THEN 'missouri'
    WHEN state IN ('MT') THEN 'montana'
    WHEN state IN ('NE') THEN 'nebraska'
    WHEN state IN ('NV') THEN 'nevada'
    WHEN state IN ('NJ') THEN 'new_jersey'
    WHEN state IN ('NY') THEN 'new_york'
    WHEN state IN ('NH') THEN 'new_hampshire'
    WHEN state IN ('OH') THEN 'ohio'
    WHEN state IN ('OK') THEN 'oklahoma'
    WHEN state IN ('OR') THEN 'oregon'
    WHEN state IN ('PA') THEN 'pennsylvania'
    WHEN state IN ('RI') THEN 'rhode_island'
    WHEN state IN ('TN') THEN 'tennessee'
    WHEN state IN ('TX') THEN 'texas'
    WHEN state IN ('UT') THEN 'utah'
    WHEN state IN ('VT') THEN 'vermont'
    WHEN state IN ('VA') THEN 'virginia'
    WHEN state IN ('WV') THEN 'west_virginia'
    WHEN state IN ('WA') THEN 'washington'
    WHEN state IN ('WI') THEN 'wisconsin'
    WHEN state IN ('WY') THEN 'wyoming'
    ELSE 'Desconocido'
   END
   WHERE 1 = 1

El ultimo paso tambien aplica para el archivo con las reseñas de Yelp. A partir de los nuevos nombres de los estados, se crean las regiones definidas por el equipo de Data Analytics.

In [ ]:
ALTER TABLE `deep-mile-388417.YELP.business`
ADD COLUMN region STRING;

UPDATE `deep-mile-388417.YELP.business`
SET region = 
CASE
    WHEN estado IN ('iowa', 'indiana', 'ohio', 'illinois', 'north_dakota', 'south_dakota', 'kansas', 'missouri', 'michigan', 'nebraska', 'minnesota', 'wisconsin') THEN 'midwest'
    WHEN estado IN ('arkansas', 'louisiana', 'missouri', 'tennessee', 'florida', 'georgia', 'north_carolina', 'south_carolina', 'virginia', 'kentucky', 'alabama', 'west_virginia', 'delaware', 'maryland', 'district_of_columbia') THEN 'southeast'
    WHEN estado IN ('pennsylvania', 'new_york', 'new_jersey', 'maine', 'new_hampshire', 'massachusetts', 'connecticut', 'vermont', 'rhode_island') THEN 'northeast'
    WHEN estado IN ('washington', 'california', 'oregon') THEN 'pacific'
    WHEN estado IN ('idaho', 'wyoming', 'colorado', 'utah', 'nevada', 'montana') THEN 'rocky_mountains'
    WHEN estado IN ('texas', 'new_mexico', 'arizona', 'oklahoma') THEN 'southwest'
    WHEN estado IN ('alaska', 'hawaii') THEN 'no_contiguous'
    ELSE 'Desconocido'
  END
  WHERE 1 = 1;

Con estos simples pasos aplicados a los diferentes archivos en Big Query, el equipo de Data Analytics logro disponer de la información necesaria para realizar el analisis de los datos en Looker Studio.